body {
  background-color: #F5F5F1;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar-default {
  background-color: #EFEFEB;
}

.navbar-default .navbar-brand {
  font-family: guardian-egyptt, georgia, serif;
  font-weight: 400;
  color: #d5641c;
  font-size: 30px;
}

.navbar-default .navbar-nav  > li > a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #0192B5;
}

.center {
  text-align: center;
}

.col-md-3:nth-child(4n+1) {
  clear: left;
}

.col-md-6 {
  h3 {
    font-size: 45px;
  }
  h5 {
    font-size: 25px;
  }
  p {
    font-size: 18px;
  }
}

.jumbotron {
  background-image: url('');
  background-image: url('handcraft.jpg');
  background-image: url('https://photos-5.dropbox.com/t/2/AACA1tO8VlNNTrEu8I5TkR-8R_15Hp-4-lICNozXbYpDDQ/12/61136989/jpeg/32x32/1/_/1/2/handcraft.jpg/EOSMpOkDGDYgBygH/YxCnLuXgfT5IYHZqq3WgoUx2gmmUXuhQaWfg-E-Op5k?size=1280x960&size_mode=2');
  background-image: url('https://photos-5.dropbox.com/t/2/AACA1tO8VlNNTrEu8I5TkR-8R_15Hp-4-lICNozXbYpDDQ/12/61136989/jpeg/32x32/1/_/1/2/handcraft.jpg/EOSMpOkDGDYgBygH/YxCnLuXgfT5IYHZqq3WgoUx2gmmUXuhQaWfg-E-Op5k?size=1280x960&size_mode=2?dl=0&raw=1');
  background-image: url('https://dl.dropboxusercontent.com/content_link/b7Q5AY8IGx5ATujclwI1ABee5nhhyXhkblsceLmkoIO7uK3sTGMxbvxAYonGxAdU');
  background-image: url('https://www.dropbox.com/s/p7dgvok0kagm9ed/handcraft.jpg?dl=0&raw=1');
  h1, h2 {
    font-family: guardian-egyptt, georgia, serif;
  }
  color: white;

  @media screen and (max-width: 768px) {
    text-align: center;
  }
}

